@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


.App {
  text-align: center;
}

:root {

	--text: #000;
	--bg: #fff;
}

.column {
	width: 100%;
}

@media (min-width: 600px) {
	.column {
		width: 50%;
	}
}

body {

	font-family: 'Share Tech Mono', monospace;
	background-color: var(--color-bg);
	color: var(--color-fg);

}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


.centreContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 60vh;
}